<!DOCTYPE html>
{% load static %}
{% include "store/partials/entete.html" %}

<head> <title>A propos</title> </head>

<body>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			A propos
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							WANDI
						</h3>
						<p class="stext-111 cl8" style=" font-size: 18px;">
							« Bienvenue dans notre boutique de mode WANDI »
						</p>


						<p class="stext-113 cl6 p-b-26" style=" font-size: 18px;">
							Nous proposons des chaussures, sacs et vêtements de qualité supérieure, toujours à la recherche des dernières tendances et de la meilleure qualité pour satisfaire pleinement nos clients ❤️ Découvrez nos collections élégantes et confortables, et profitez d’une livraison rapide dans toute l’Algérie 🚚
						</p>

						<h1 class="mtext-111 cl2 p-b-16" style=" font-size: 18px;">
							Nos services
						</h1>
						<p class="stext-111 cl8" style=" font-size: 18px;">
							Chez nous, votre satisfaction est notre priorité ! ❤️
						</p>
						<br>
						<p class="stext-113 cl6 p-b-26">
							•	« Vérification du colis par le client avant le paiement possible ✅ »
						</p><p class="stext-113 cl6 p-b-26" >
							•	Échange facile : vous pouvez changer votre produit pour le même modèle ou choisir un autre modèle 🔄
						</p><p class="stext-113 cl6 p-b-26" >
							•	Profitez de la 5ᵉ livraison gratuite 🎁
						</p><p class="stext-113 cl6 p-b-26" >
							•	Des promotions, soldes et réductions attractives régulièrement 💸
						</p><p class="stext-113 cl6 p-b-26">
							•	Présentation de nos produits avec des photos et vidéos réelles pour un aperçu authentique 📸🎥
						</p></p><p class="stext-113 cl6 p-b-26" >
							•	Livraison rapide et sécurisée dans toutes les wilayas 🚚
						</p></p><p class="stext-113 cl6 p-b-26" >
							•	Toujours disponibles et à l’écoute de nos clients pour répondre rapidement à toutes vos demandes 📞💬
						</p></p><p class="stext-111 cl8" style="font-size: 18px;" >
							Avec nous, shopping rime avec qualité, confiance et plaisir !
						</p>
						<p class="stext-113 cl6 p-b-26">

						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'store/images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16" style="direction: rtl;" >
							متجر WANDI
						</h3>


						<p class="stext-113 cl6 p-b-26" style=" direction: rtl; text-align: right; font-size: 18px;">

							نقدّم لكم أجمل التشكيلات من الأحذية والحقائب والملابس ذات الجودة العالية، مع متابعة أحدث الصيحات العالمية وأفضل المعايير لتلبية رضاكم الكامل ❤️
							اكتشفوا مجموعاتنا الأنيقة والمريحة، وتمتعوا بتجربة تسوق ممتعة وسهلة مع توصيل سريع وآمن إلى جميع أنحاء الجزائر 🚚

						</p>

						<p class="stext-111 cl8" style="direction: rtl; text-align: right; font-size: 18px;">
							في متجرنا، رضاكم هو أولويتنا دائمًا ❤️
						</p>

						<p class="stext-111 cl8" style="direction: rtl; text-align: right; font-size: 20px;">
							 خدماتنا المميزة:
						</p>
						<div class="bor16 p-r-29 p-b-9 m-t-22" style="direction: rtl;">
							<p class="stext-114 cl6 p-r-40 p-b-11" style="direction: rtl; text-align: right; font-size: 18px;">


								فحص الطرد من قبل الزبون قبل الدفع ممكن ✅

								تبادل المنتجات بسهولة: استبدال المنتج بنفس الموديل أو اختيار موديل آخر 🔄

								التوصيل الخامس مجانًا 🎁

								عروض، تخفيضات وخصومات مميزة دائمًا 💸

								عرض المنتجات بصور وفيديوهات حقيقية لتجربة أكثر شفافية 📸🎥

								توصيل سريع وآمن إلى جميع الولايات 🚚

								دائمًا على تواصل سريع معكم للرد على جميع استفساراتكم 📞💬

							</p>
							<p class="stext-111 cl8" style="direction: rtl; text-align: right; font-size: 18px;">
							- معنا، تجربة التسوق هي مزيج من الجودة، الأناقة، والراحة.
							</p>


						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'store/images/about-02.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		

	<!-- Footer -->
	{% include "store/partials/footer.html" %}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'store/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'store/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'store/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'store/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'store/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'store/vendor/MagnificPopup/jquery.magnific-popup.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'store/vendor/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'store/js/main.js' %}"></script>
	
</body>
</html>