{% load static %}



	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% url 'product' %}?categorie=Chaussures"  class="stext-107 cl7 hov-cl1 trans-04" >
								Chaussures

							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'product' %}?categorie=Sacs" class="stext-107 cl7 hov-cl1 trans-04">
								Sacs
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'product' %}?categorie=vetements" class="stext-107 cl7 hov-cl1 trans-04">
								Autres
							</a>
						</li>

<!--						<li class="p-b-10">-->
<!--							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">-->
<!--								Watches-->
<!--							</a>-->
<!--						</li>-->
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% url 'home' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Acceuil
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'shoping_cart' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Mon Panier
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'about' %}" class="stext-107 cl7 hov-cl1 trans-04">
								A propos
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'contact' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Contact
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Contactez-nous
					</h4>

					<p class="stext-107 cl7 size-201">
						Boutique en ligne - Pour toutes questions, Appelez-nous au 05.40.69.64.72
					</p>

					<div class="p-t-27">
						<a href="https://www.facebook.com/bino.bimb" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="https://www.instagram.com/bino.bimb" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="https://www.tiktok.com/@wandi_bino" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<img src="{%static 'store/images/icons/tiktok.png'%}" alt="Tiktok" style="width=17px;height:17px;"></img>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Email
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="wandi2025@gmail.com">
							<div class="focus-input1 trans-04"></div>
						</div>

<!--						<div class="p-t-18">-->
<!--							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">-->
<!--								Subscribe-->
<!--							</button>-->
<!--						</div>-->
					</form>
				</div>
			</div>

<!--			<div class="p-t-40">-->
<!--				<div class="flex-c-m flex-w p-b-18">-->
<!--					<a href="#" class="m-all-1">-->
<!--						<img src="{%static 'store/images/icons/icon-pay-01.png' %}" alt="ICON-PAY" loading="lazy">-->
<!--					</a>-->

<!--					<a href="#" class="m-all-1">-->
<!--						<img src="{%static 'store/images/icons/icon-pay-02.png' %}" alt="ICON-PAY" loading="lazy">-->
<!--					</a>-->

<!--					<a href="#" class="m-all-1">-->
<!--						<img src="{%static 'store/images/icons/icon-pay-03.png' %}" alt="ICON-PAY" loading="lazy">-->
<!--					</a>-->

<!--					<a href="#" class="m-all-1">-->
<!--						<img src="{%static 'store/images/icons/icon-pay-04.png' %}" alt="ICON-PAY" loading="lazy">-->
<!--					</a>-->

<!--					<a href="#" class="m-all-1">-->
<!--						<img src="{%static 'store/icons/icon-pay-05.png'%}" alt="ICON-PAY" loading="lazy">-->
<!--					</a>-->
<!--				</div>-->

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  &copy; <script>document.write(new Date().getFullYear());</script>  WANDI | Binobimb <i class="fa fa-heart-o" aria-hidden="true"></i> Boutique en ligne </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>