<div class="p-4">
    <h2>{{ produit.nom }}</h2>
    <div class="slider">
        {% for img in produit.produitcouleur_set.first.images.all %}
            <img src="{{ img.image.url }}" style="width:100%; max-height:250px; object-fit:cover;">
        {% endfor %}
    </div>

    <p><strong>Prix:</strong> {{ produit.prix }} DA</p>
    <p><strong>Description:</strong> {{ produit.description }}</p>

    <div>
        <strong>Tailles disponibles:</strong>
        {% for couleur in produit.produitcouleur_set.all %}
            {% for taille in couleur.tailles.all %}
                <span class="border p-1 m-1">{{ taille.taille }}</span>
            {% empty %}
                <span>Aucune taille</span>
            {% endfor %}
        {% endfor %}
    </div>

    <button class="btn btn-primary mt-3">Ajouter au panier</button>
</div>
